.xmlContainer {
  background-image: linear-gradient(to bottom right, #ff512f, #dd2476);
  padding: 3rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 0.5rem;
  color: #fff;
}
.formHeading {
  font-weight: 700;
  font-size: 2rem;
}
.formContainer {
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 0.5rem;
}
input[type="file"] {
  border: 0.1rem solid #fff;
  border-radius: 0.2rem;
}
input[type="file"]::file-selector-button {
  border: none;
  background: #5e5df0;
  border-radius: 0.2rem;
  color: #ffffff;
  font-weight: 700;
  padding: 0.2rem 0.5rem;
  border: none;
}

.primaryBtn {
  background: #5e5df0;
  border-radius: 0.2rem;
  color: #ffffff;
  font-weight: 700;
  padding: 0.2rem 0.5rem;
  border: none;
}

.msgBoc {
  color: yellow;
}
